*.in
config.*
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
libtool
ltmain.sh
src/.*
stamp-h1
compile
missing
share/Makefile
src/Makefile
*.c
*.o
src/vde_manager
*.stamp
Makefile
*.xml
INSTALL
